* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.flex-container-column {
  display: flex;
  flex-direction: column;

  /*properti pendukung*/
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
}

.flex-container-row {
  display: flex;
}

.button {
  flex-basis: 25%;

  /*properti pendukung*/

  font-size: 1.5em;
  text-align: center;
  padding: 40px;
  border: 1px solid black;
  background: rgb(10, 243, 154);
  cursor: pointer;
}

.double {
  flex-basis: 50%;
}

.display {
  color: darkseagreen;
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(158, 248, 192);
  border: 1px rgb(5, 13, 17);
  font-size: 2em;
}

.operator,
.negative,
.equals {
  background: rgb(255, 230, 7);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  margin-top: 20px;
}

.button:hover {
  font-weight: bold;
}

/* Tampilan agar responsive */
@media screen and (max-width: 513px) {
  .button {
    padding: 10px;
  }
  .history {
    width: 100%;
  }
}
/*styling untuk history perhitungan*/
.history {
  width: 80%;
  margin: 30px auto 0 auto;
  overflow: scroll;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid rgb(55, 68, 64);
}
th,
td {
  text-align: center;
  padding: 16px;
}
th {
  background-color: rgb(32, 194, 45);
  color: rgb(232, 243, 237);
}
tr:nth-child(even) {
  background: rgb(250, 221, 185);
}
